body{background:#c4e6e8;overflow-x:hidden;}

.stage {position: absolute; top: 0; left: 0; width: 100%; min-width: 900px; height: 100%; overflow: hidden; }

.far-clouds {background: transparent url(images/far-clouds.png) 305px 102px repeat-x;-webkit-animation: moveCloud1 60s linear infinite; animation: moveCloud1 60s linear infinite;}
.near-clouds {background: transparent url(images/near-clouds.png) 305px 162px repeat-x;-webkit-animation: moveCloud2 60s linear infinite; animation: moveCloud2 60s linear infinite;}

.balloon{font-family: microsoft yahei,arial,verdana,helvetica,sans-serif; text-align:center; color:#d13b49; }
.balloon h2{font-size:32px; text-transform:uppercase; font-weight:bold; margin-top:30px; line-height: 40px; margin-bottom:20px;}
.balloon h3{font-size:20px;text-transform:uppercase;line-height:0px;  }
.balloon img{width:230px; margin:20px 0px; -webkit-animation-name: Floatingx; -webkit-animation-duration: 2s; -webkit-animation-iteration-count: infinite; -webkit-animation-timing-function: ease-in-out; }

.copyrights{margin-top: 20px;}
.copyrights p{font-family: 'Ubuntu', sans-serif; text-align:center; color:#333; }

.balloon .fadeInDown{
    -webkit-animation:fadeInDown 1s .2s ease both;
    -moz-animation:fadeInDown 1s .2s ease both;
    animation:fadeInDown 1s .2s ease both;
}

.balloon .fadeInUp{
    -webkit-animation:fadeInUp 1s .7s ease both;
    -moz-animation:fadeInUp 1s .7s ease both;
    animation:fadeInUp 1s .7s ease both;
}

.balloon .fadeInUpBtn{
    -webkit-animation:fadeInUp 1s .9s ease both;
    -moz-animation:fadeInUp 1s .9s ease both;
    animation:fadeInUp 1s .9s ease both;
}

.balloon .bounceIn{
    -webkit-animation:bounceIn 1s .7s ease both;
    -moz-animation:bounceIn 1s .7s ease both;
    animation:bounceIn 1s .7s ease both;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-webkit-keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(.3);
    transform: scale(.3);
  }

  50% {
    opacity: 1;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }

  70% {
    -webkit-transform: scale(.9);
    transform: scale(.9);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(.3);
    -ms-transform: scale(.3);
    transform: scale(.3);
  }

  50% {
    opacity: 1;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
  }

  70% {
    -webkit-transform: scale(.9);
    -ms-transform: scale(.9);
    transform: scale(.9);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

.bounceIn {
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

@-webkit-keyframes moveCloud1 {
    from { background-position: 305px 102px; }
    to { background-position: -1920px 102px; }
} 

@keyframes moveCloud1 {
    from { background-position: 305px 102px; }
    to { background-position: -1920px 102px; }
}

@-webkit-keyframes moveCloud2 {
    from { background-position: 305px 162px; }
    to { background-position: -1920px 162px; }
} 

@keyframes moveCloud2 {
    from { background-position: 305px 162px; }
    to { background-position: -1920px 162px; }
}


@-webkit-keyframes Floatingx{
    from {-webkit-transform:translate(0, 0px);}
    65% {-webkit-transform:translate(0, 15px);}
    to {-webkit-transform: translate(-0px, -0px);    }    
}
